output/
build/
class
libclass.a

*.o
*.a
*.so
*.dylib
*.out
*.prof

*.ini

python/classy.c
python/build/
python/dist/

*.egg-info/
__pycache__/
*.pyc
*.pyo

RealSpaceInterface/cache/

.ipynb_checkpoints/

doc/manual/html
doc/manual/latex

.DS_Store

# Editors
.vscode/
.idea/

# Temporary
*~
*.swp
*.tmp
*.log
